/* Add styled focus states on tab not hover */

:focus-visible {
  opacity: 1 !important;
  outline: max(2px, 0.15em) solid var(--clr-primary-100);
  outline-offset: max(2px, 0.15em);
}

:focus:not(:focus-visible) {
  outline: transparent;
}
