.input-wrapper {
  display: flex;
  align-items: baseline;
  padding: 1.25rem;

  input[type="text"] {
    display: inline-block;
    inline-size: 100%;
    border: 0;
    line-height: 1;
    cursor: pointer;
  }
}
