li[draggable] {
  position: relative;
  display: flex;
  align-items: baseline;
  padding: 1rem 1.5rem;
  border-block-start: solid 2px transparent;
  border-block-end: solid 2px var(--clr-neutral-300);
  transition: all 200ms;
  cursor: move;
  will-change: transform;
  -webkit-user-select: text;
  user-select: none;

  &:hover button {
    opacity: 1;
  }

  [contenteditable] {
    line-height: 1;
    cursor: pointer;

    &.js-completed {
      text-decoration: line-through;
      color: var(--clr-neutral-400);
    }
  }

  input {
    margin-inline-end: 1.5rem;
  }

  button {
    opacity: 0;
    padding: 0.5rem;
    border: 0;
    margin-inline-start: auto;
    background-color: transparent;
    cursor: pointer;
  }

  svg {
    pointer-events: none;
  }
}
