/* Center main content on page */
$min: 1rem;
$max: 800px;

.align-content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax($min, 1fr) minmax($min, $max) minmax($min, 1fr);

  > * {
    grid-column: 2;
    align-self: center;
  }
}
