@import "reset";

/* ==================================================
  Global Styles
  ================================================== */

@import "abstracts/variables";
@import "abstracts/breakpoints";

/* Base Styles
   ================================================== */
body {
  background-color: var(--clr-neutral-300);
  background-color: hotpink;
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--step-0);
  text-align: left;
}

h1 {
  font-size: var(--step-3);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--clr-neutral-100);
}

.list-wrapper {
  border-radius: 0.5rem;
  background-color: var(--clr-neutral-200);
}

.over {
  transform: scale(1.1);
}

/* ==================================================
  Composition
  ================================================== */

@import "composition/align-content";

/* ==================================================
  Utilities
  ================================================== */

@import "utilities/container";
@import "utilities/flow-content";
@import "utilities/flow-section";
@import "utilities/outline";
@import "utilities/skip-link";
@import "utilities/split";
@import "utilities/visually-hidden";

/* ==================================================
   Blocks
   ================================================== */
@import "blocks/list-item";
@import "blocks/add-item";
@import "blocks/filters";
